.bg-red-header ion-toolbar {
  --background: red;
  --color: white; // optional: makes text/icons white
}

.name-pill {
  width: 100%;
  display: flex;
  justify-content: center;

  .pill {
    display: flex;
    align-items: center;    // vertical centering
    justify-content: center; // horizontal centering
    background: rgba(0, 0, 0, 0.4); 
    color: #ffffff; 
    padding: 6px 16px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    font-size: 14px;
  }
}



