<ion-header [translucent]="true" class="bg-red-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-avatar style="width: 34px; height: 34px;">
        <img src="assets/images/clg.jpg" alt="Logo" />
      </ion-avatar>
    </ion-buttons>
    <ion-title class="name-pill">
      <div class="pill">Kiran Ganpat Pisal</div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="openProfileSettings()">
        <ion-icon name="settings-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>