<ion-header>
  <ion-toolbar>
    <ion-title class="popup-title">{{isInsertMode ? 'Create' : 'Update'}} Details</ion-title>
    <ion-buttons slot="{{isInsertMode?'end':'start'}}">
      <ion-button (click)="dismissModal()" class="popup-button">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="!isInsertMode" (click)="toggleEditMode()" class="popup-button">
        <ion-icon name="create"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="recordForm" (ngSubmit)="saveChanges()">
    <div class="form-body ion-padding">
      <div *ngFor="let field of recordFields" class="ion-margin-bottom">
        <ng-container *ngIf="field.multiLang">
          <app-multi-lang-input [label]="getLabel(field)" formControlName="{{ field.key }}"></app-multi-lang-input>
        </ng-container>
        <ng-container *ngIf="!field.multiLang">
          <ng-container *ngIf="checkType(field?.type, inputType.TEXT)">
            <ion-input formControlName="{{ field.key }}" fill="outline" mode="md"
                       label="{{ getLabel(field) }}"
                       label-placement="floating"></ion-input>
          </ng-container>
          <ng-container *ngIf="checkType(field?.type, inputType.TOGGLE)">
            <ion-toggle formControlName="{{ field.key }}" labelPlacement="start">{{ getLabel(field) }}</ion-toggle>
          </ng-container>
          <ng-container *ngIf="checkType(field?.type, inputType.DROP_DOWN)">
            <ion-select formControlName="{{ field.key }}" fill="outline" mode="md"
                        label="{{ getLabel(field) }}"
                        label-placement="floating">
              <ion-select-option *ngFor="let item of field.dropDownOptions" value="{{item.value}}">{{item.label}}
              </ion-select-option>
            </ion-select>
          </ng-container>

          <ng-container *ngIf="checkType(field?.type, inputType.ADVANCE_DROPDOWN)">
            <ion-item lines="none">
              <ion-label>Port</ion-label>
              <ionic-selectable
                formControlName="{{ field.key }}"
                [items]="field.dropDownOptions || []"
                itemValueField="value"
                itemTextField="label"
                [canSearch]="true"
                (onSearch)="onDropdownSearch($event,field.url)">
              </ionic-selectable>
            </ion-item>
          </ng-container>


        </ng-container>
        <app-validator [submitted]="submitted"
                       [control]="$any(recordForm.get( field.key))"></app-validator>
      </div>

    </div>
    <ion-button type="submit" expand="full" class="edit-button ion-padding" color="success"
                *ngIf="isEditMode || isInsertMode">
      Save Changes
    </ion-button>
  </form>
</ion-content>
