
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">studentHome</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment>
    <ion-segment-button value="first" content-id="first">
      <ion-label>School Announcement</ion-label>
    </ion-segment-button>
    <ion-segment-button value="second" content-id="second">
      <ion-label>Teacher Announcement</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-segment-view>
    <ion-segment-content id="first">
      <ion-list>
        <ion-item *ngFor="let a of announcments">
          <ion-label>
            {{ a.schoolannouncement }}
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-segment-content>
    <ion-segment-content id="second">
      <ion-list>
        <ion-item *ngFor="let a of teacherAnnouncments">
          <ion-label>
            {{ a.teacherannouncement }}
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-segment-content>
  </ion-segment-view>