<ion-footer>
  <ion-toolbar>
    <ion-buttons class="footer-buttons" expand="block">
      <ion-button fill="clear" (click)="goToHome()">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="goToFees()">
        <ion-icon slot="icon-only" name="cash-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="goToMenus()">
        <ion-icon slot="icon-only" name="grid-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="goToNotification()">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="goToProfile()">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>